---
title: Homepage
---

<div class="banner" style="background-image: linear-gradient(-225deg, hsla(2,25%,20%,0.3) 0%, hsla(2,25%,20%,0.3)  50%), url('images/background.jpg')">
  <div class="banner-content text-center">
    <h2 class="banner-title">Welcome home</h2>
    <p class="banner-tagline">Rent unique places to stay from local hosts in 190+ countries.</p>
    <a class="btn btn-primary btn-lg btn-up" style="width: 274px">How it works</a>
  </div>
</div>

<div class="container features text-center padded">
  <div class="row">
    <figure class="feature col-xs-12 col-sm-6 col-md-3">
      <img src="images/globe.svg" alt="globe">
      <figcaption>
        <h4 class="feature-title">Discover the world</h4>
        <p>The earth is your new home.</p>
      </figcaption>
    </figure>

    <figure class="feature col-xs-12 col-sm-6 col-md-3">
      <img src="images/dollar.svg" alt="dollar">
      <figcaption>
        <h4 class="feature-title">Pay online</h4>
        <p>No cash issues anymore.</p>
      </figcaption>
    </figure>

    <figure class="feature col-xs-12 col-sm-6 col-md-3">
      <img src="images/beer.svg" alt="beer">
      <figcaption>
        <h4 class="feature-title">Meet people</h4>
        <p>Discover new culture and lifestyle.</p>
      </figcaption>
    </figure>

    <figure class="feature col-xs-12 col-sm-6 col-md-3">
      <img src="images/heart.svg" alt="heart">
      <figcaption>
        <h4 class="feature-title">Share and love</h4>
        <p>Join a community you will love.</p>
      </figcaption>
    </figure>
  </div>
</div> <!-- /.container.features -->

<div class="wrapper-gray padded">
  <div class="container">
    <h3 class="text-center">Your next trip</h3>
    <div class="row cards">

      <% data.flats.each do |owner, flat| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.4) 100%), url('<%= image_path flat.picture %>');">
            <div class="card-category"><%= flat.city %></div>
            <div class="card-description">
              <h4 class="card-title"><%= flat.name %></h4>
              <p class="card-summary"><%= flat.summary %></p>
            </div>
            <%= image_tag flat.owner_picture, class:"card-user avatar avatar-bordered avatar-medium" %>
            <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
          </div>
        </div>
      <% end %>

    </div> <!-- /.row.cards -->
  </div> <!-- /.container -->
</div> <!-- /.wrapper-gray -->

<div class="container newsletter text-center padded">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>Get news from us</h3>
      <p>Leave us your mail and get news from us</p>
      <form action="#" class="form-inline">
        <input type="email" class="form-control" placeholder="bob@gmail.com">
        <input type="submit" value="Subscribe" class="btn btn-primary btn-lg btn-up">
      </form>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
